@model IEnumerable<WebBanHangOnline.Models.EF.Category>

@if (Model != null && Model.Any())
 {
                foreach(var item in Model)
                {
                    <li class="drop">
                        <a href = "http://localhost/Aglet/product_list?gender=men" class="drop-toggle">@item.Title<i class="fa-solid fa-angle-down fa-xs"></i></a>
                        <div class="mega-menu">
                            <div class="my-mega-content">
                                <div class="mega-row">
                                    <header><a href = "product_list" > NỔI BẬT</a></header>
                                    <ul class="mega-links">
                                        <li><a href = "product_list" > Hàng mới về</a></li>
                                        <li><a href = "product_list" > Best - seller </a ></li >
                                        <li ><a href= "product_list" > Sale - off </a ></li >
                                    </ul>
                                </div>
                                <div class="mega-row">
                                    <header><a href = "product_list" > GIÀY </a ></header >
                                    <ul class="mega-links">
                                        <li><a href = "product_list" > Bóng đá</a></li>
                                        <li><a href = "product_list" > Chạy bộ</a></li>
                                        <li><a href = "product_list" > Bóng rổ</a></li>
                                        <li><a href = "product_list" > Quần vợt</a></li>
                                        <li><a href = "product_list" > Slip on</a></li>
                                        <li><a href = "product_list" > High top</a></li>
                                        <li><a href = "product_list" > Low top</a></li>
                                        <li><a href = "product_list" > Dép </a ></li >
                                    </ul >
                                </div >
                                <div class="mega-row">
                                    <header><a href = "product_list" > QUẦN ÁO</a></header>
                                    <ul class="mega-links">
                                        <li><a href = "product_list" > Jackets </a ></li >
                                        <li ><a href="product_list">Bộ đồ thể thao</a></li>
                                        <li><a href = "product_list" > Hoddie </a></li >
                                        <li ><a href= "product_list" > Sweater </a ></li >
                                        <li ><a href= "product_list" > Áo thun</a></li>
                                        <li><a href = "product_list" > Quần </a ></li >
                                        <li ><a href= "product_list" > Quần bó</a></li>
                                        <li><a href = "product_list" > Quần sóoc</a></li>
                                    </ul>
                                </div>
                                <div class="mega-row">
                                    <header><a href = "product_list" > PHỤ KIỆN</a></header>
                                    <ul class="mega-links">
                                        <li><a href = "product_list" > Túi & Ba lô</a></li>
                                        <li><a href = "product_list" > Tất </a ></li >
                                        <li><a href="product_list">Mũ</a></li>
                                        <li><a href = "product_list" > Dây giày</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                }


}
