
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>TenSp</th>
            <th>Gia</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
