<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/client/assests/css/layout.css?version=1">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d822126298.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <title>Document</title>

</head>
<body>
    <nav>
        <div class="header">
            <ul class="menu">
                <li><a href="/OrderTracker"><i class="fa-sharp fa-solid fa-truck-fast"> </i>Tra cứu đơn hàng</a> </li>
                <li><a href="#"><i class="fa-solid fa-location-dot"></i> Tìm cửa hàng </a> </li>
                <li><a href="#"><i class="fa-solid fa-heart"></i> Yêu thích</a> </li>
                <li><a href="/admin/home"> <i class="fa-solid fa-user"></i> Đăng nhập</a> </li>
                <li>
                    <a href="/shoppingcart">
                        <i class="fa-solid fa-bag-shopping"></i> Giỏ hàng
                        <span>(</span>

                        <span id="checkout_items">0</span>
                        <span>)</span>

                    </a>
                </li>
            </ul>
            <div class="my-navbar">
                <div class="my-navbar-logo" title="Aglet Home">
                    <a href="/home"><img src="https://cdn.discordapp.com/attachments/961253752772374590/1057706549264527400/logo4.png" alt="logo"></a>
                </div>
                <ul class="my-navbar-center">
                    <li class="drop">
                        <a href="https://localhost:44308/product/index?pcategory=1" class="drop-toggle style1">TẤT CẢ</a>
                    </li>
                    <li class="line"></li>
                    <li class="drop">
                        <a href="https://localhost:44308/product/index?pcategory=2" class="drop-toggle">BALO</a>
                    </li>
                    <li class="line"></li>
                    <li class="drop">
                        <a href="/product" class="drop-toggle">VÍ</a>
                    </li>

                    <li class="line"></li>
                    <li class="drop">
                        <a href="/product" class="drop-toggle">TÚI XÁCH</a>
                    </li>
                </ul>
                <div class="my-navbar-box">
                    <div class="search-box">
                        <input class="search-txt" type="text" name="" placeholder="Tìm kiếm">
                        <label for="check" class="icon">
                            <i class="fas fa-search"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="header-slider">
                <h2>CẢM ƠN KHÁCH HÀNG ĐÃ GHÉ THĂM AGLET STORE !</h2>
            </div>
        </div>
    </nav>
    @RenderBody()
    <div id="footer">
        <div class="find-store">
            <div class="find-store-pic">
                <img src="https://ananas.vn/wp-content/themes/ananas/fe-assets/images/svg/Store.svg" alt="pic">
            </div>

            <div class="find-store-btn">
                <a href="">TÌM CỬA HÀNG</a>
            </div>
        </div>
        <div class="footer-items">
            <div class="rowF">
                <div class="colF">
                    <a href="http://localhost/Aglet/product_list">SẢN PHẨM</a>
                    <ul>
                        <li><a href="/product">Balo</a></li>
                        <li><a href="/product">Ví</a></li>
                        <li><a href="/product">Túi xách</a></li>
                        <li><a href="/product">Sale-off</a></li>
                    </ul>
                </div>

                <div class="colF">
                    <a href="#">VỀ CÔNG TY</a>
                    <ul>
                        <li><a href="#">Dứa tuyển dụng</a></li>
                        <li><a href="#">Liên hệ nhượng quyền</a></li>
                        <li><a href="#">Về Ananas</a></li>
                    </ul>
                </div>

                <div class="colF">
                    <a href="#">HỖ TRỢ</a>
                    <ul>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Bảo mật thông tin</a></li>
                        <li><a href="#">Chính sách chung</a></li>
                        <li><a href="#">Tra cứu đơn hàng</a></li>
                    </ul>
                </div>

                <div class="colF">
                    <a href="#">LIÊN HỆ</a>
                    <ul>
                        <li><a href="#">Email góp ý</a></li>
                        <li><a href="#">Hotline</a></li>
                        <li><a href="#">113</a></li>
                    </ul>
                </div>
            </div>

            <div class="rowF">
                <div class="colF">
                    <p>ANANAS SOCIAL</p>
                    <div class="ft-icon">
                        <i class="fa-brands ft-icon  fa-square-facebook"></i>
                        <i class="fa-brands ft-icon fa-square-instagram"></i>
                        <i class="fa-brands ft-icon fa-youtube"></i>
                    </div>
                </div>

                <div class="colF">
                    <p>ĐĂNG KÝ NHẬN MAIL</p>
                    <form action="">
                        <div>
                            <input type="text" name="" id="" class="form-input">

                            <button>
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="colF">
                    <a href="#">
                        <img src="" alt="">
                    </a>

                </div>

            </div>

            <div class="rowF">
                <div class="colF f-r3">
                    <img src="https://ananas.vn/wp-content/themes/ananas/fe-assets/images/icon_bocongthuong.png" alt="">
                </div>

                <div class="colF f-r3">
                    <p>Copyright © 2022 Aglet. All rights reserved.</p>
                </div>
            </div>

        </div>
        <div class="clear"></div>
    </div>

    <script src="~/Scripts/jsShopping.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

</body>
</html>
